export(f_transition_matrix)
export(gp_fit)
export(gp_plot)
export(gp_transition_matrix)
export(optimal_policy)
export(par_F)
export(par_est)
export(par_est_allee)
export(plot.gpfit)
export(plot_policies)
export(posteriors_plot)
export(profits_stats)
export(sim_obs)
export(sim_plots)
export(simulate_opt)
import(MCMCpack)
import(data.table)
import(ggplot2)
import(kernlab)
import(pdgControl)
import(plyr)
import(reshape2)
import(tgp)
