export(f_transition_matrix)
export(gp_F)
export(gp_fit)
export(gp_transition_matrix)
export(par_F)
export(plot.gpfit)
import(MCMCpack)
import(data.table)
import(ggplot2)
import(kernlab)
import(nonparametricbayes)
import(pdgControl)
import(plyr)
import(reshape2)
import(tgp)
